<div class="auth-wrapper">
    <div class="form-signin">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="userEmail" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="userPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-block btn-primary" (click)="loginUser()">Sign in</button>
    </div>
</div>